---
const personalImageAlt = "Eliasib Cantor"

const aboutMe = {
  name: "Eliasib Cantor",
  title: "Desarrollador Full Stack",
  description: `Soy un desarrollador web apasionado por crear aplicaciones web eficientes y
  atractivas. Tengo experiencia en trabajar con diversas tecnologías y disfruto
  aprendiendo nuevas herramientas para mejorar mis habilidades.`,
  imageUrl: "public/logo.webp", // Asegúrate de reemplazar esto con la ruta correcta
};
---

  <section class=" py-12 mt-[-120px]">
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row items-center">
        
        <div class="md:w-2/3 md:pl-12">
          <h1 class="text-4xl font-bold mb-4">{aboutMe.name}</h1>
          <h2 class="text-2xl text-gray-700 mb-4">{aboutMe.title}</h2>
          <p class="text-gray-600 mb-4">{aboutMe.description}</p>
        </div>
        <div class="md:w-1/3 mb-8 md:mb-0">
          <img src={aboutMe.imageUrl} alt={aboutMe.name} class="rounded-full shadow-lg w-48 h-48 mx-auto" />
        </div>
      </div>
    </div>
  </section>

